<html>
    <body>
        <h1>Hellow World! The time is {{ time }}</h1>
        <form action="/login/signup" method="post">
            Create New User:
            <input type='text' name='email' placeholder='Email'>
            <br>
            <input type='text' name='password' placeholder='password'>
            <input type='submit' value='ENTER'>
        </form>
    </body>
</html>