<html>
    <body>
        <h1>Login or Create New User</h1>
        <form action="/login/signup" method="post">
            Create New User:
            <input type='text' name='email' placeholder='Email'>
            <br>
            <input type='text' name='password' placeholder='Password'>
            <input type='submit' value='ENTER'>
        </form>
        <form action="/login/" method="post">
            Already Logged In:
            <input type='text' name='email' placeholder='Email'>
            <br>
            <input type='text' name='password' placeholder='Password'>
            <input type='submit' value='ENTER'>
        </form>
    </body>
</html>